@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin on-focus() {
	&:focus {
		outline-width: 1px;
		outline-style: dotted;
		outline-color: inherit;
	}
}